@import "mixins/*"

html
  box-sizing border-box

*,
*::before,
*::after
  box-sizing inherit

html, body
  width 100%
  height 100%

body
  background url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/seigaiha.png)

#title
  text-transform uppercase
  text-align center
  display inline-block
  margin-top 100px
  color #E91E63
  padding 50px 0
  width 100%
  border 5px solid #00BCD4
  border-left none
  border-right none
  transition all .3s ease

  &:hover
    background-color #00BCD4
    color #fff