doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    block title
      title Dev template
    block links
      link(rel="stylesheet" href="css/vendor.min.css")
      link(rel="stylesheet" href= isDevelopment ? "css/style.css" : "css/style.min.css")
  body
      block content
      block scripts
        script(src= isDevelopment ? "js/all.js" : "js/all.min.js")
        //- script(src="js/vendor.min.js")